@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Definição de fonte do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: white;
}

/* Estilos para a seção */
section {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background: #121212;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
/* Estilização para o círculo */
.Circulo {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: Circle(50% at bottom right);

}
/* Estilização para o cabeçalho */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navigation ul {
    position: relative;
    display: flex;
}
header .navigation li {
  list-style: none;
}
header .navigation li a{
    margin-left: 40px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    margin-left: 100px;
}

/* Estilização para texto central*/

.Container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: Space-between;
}
.Container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.Container .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.Container .text h2 span{
    font-size: 3.5em;
     color: #e51e2a;
}
.Container .text p{
    color: #fff;
}
.Container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 40px;
    letter-spacing: 1px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.Container .text a:hover{
    transform: translateY(-10px);
}

/* Estilização icons */
.Icons {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Icons li{
    list-style: none;
}
.Icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
   border-radius: 50%;
    background: #222;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.Icons li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}

.Icons li a img{
   transform: scale(0.5);
   filter: invert(1);
}

/* Estilização para a imagens */
.Imagem{
    position: absolute;
    right: 0;
    bottom: -40px;
}
.Imagem img{
    max-width: 150px;
}

.Imagem .img1{
    transform: rotate(-15deg);
}
.Imagem .img2{
    transform: rotate(5deg);
}
.Imagem .img3{
    transform: rotate(15deg);
}
.Imagem .img4{
    transform: rotate(-15deg);
}